APP_PORT=yor port
AUTH_USER=your_usernmae
AUTH_PASS=your_pass
JWT_SECRET=Your JWT Secret
# JWT_EXPIRES_IN=


# DATABASE
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=your_databse_username
DB_PASSWORD=your_database_pass
DB_NAME=influener_db
# DATABASE_URL=postgres://user:password@localhost:5432/yourdb

# CORS_ORIGIN=http://localhost:3000
CORS_ORIGIN=https://lead-frontend-flame.vercel.app
